/*--------------------------------------------*/
/*/                main page                 /*/
/*---------------------------------------------*/


/*------------------
// Global css
------------------*/

* {
  font-family: 'Open Sans', sans-serif;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

p {
  margin: 0;
}

a {
  color: #000;
}

a:hover {
  text-decoration: none;
}

.row {
  margin-left: initial;
  margin-right: initial;
}

.col {
  padding: 0;
  margin: 0;
}


/*-------------------
// navbar header
-------------------*/

.nav-header {
  height: 63px;
  width: 100%;
}

.nav-header .logo {
  background-color: #34495e;
  float: left;
  width: 100px;
}

.nav-header .main-navbar {
  background-color: #1abc9c;
  height: inherit;
  width: 100%;
}

.menu-container {
  background-color: #2c3e50;
  height: 70px;
  width: 100%;
}

.menu {
  height: inherit;
  position: relative;
  width: 100px;
}

.menu-title {
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
}

.menu-title p {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}

.menu-list-panel {
  background-color: #2c3e50;
  min-height: 630px;
  text-align: center; 
  width: 100px;
}

.menu-list-panel ul {
  width: 100%;
}

.menu-list-panel li {
  font-size: 30px;
  padding-top: 40px;
  position: relative;
  width: 100%;
}

.menu-list-panel li a {
  color: #fff;
  margin: 0;
  padding: 0;
}

.nav-tabs {
  border:0;
}

.nav-tabs>li>a,
.nav-tabs>li>a:focus,
.nav-tabs>li>a:hover {
  background-color: #2c3e50;
  border:0;
  color: #fff;
}

.nav-tabs>li.active>a, 
.nav-tabs>li.active>a:focus, 
.nav-tabs>li.active>a:hover {
  background-color: #2c3e50;
  border:0;
  color: #fff;
}

.nav-tabs>li.active a {
  position: relative;
}

.nav-tabs>li.active a:after {
  content: "\25CF";
  position: absolute;
  right: -10px;
}

.menu-list-panel li:nth-child(1) {
  color: #fff;
  font-size: 30px;
  padding-top: 20px;
  position: relative;
}

.main-container {
  background-color: #ecf0f1;
}

.user-panel {
  position: absolute;
  right: 20px;
  text-align: center;
}

.username {
  background-color: #16a085;
  color: #fff;
  cursor: pointer;
  float: right;
  font-size: 16px;
  font-weight: bold;
  height: 63px;
  line-height: 63px;
  position: relative;
  width: 150px;
}

.username p:after {
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #fff;
  content: "";
  height: 0; 
  position: absolute;
  right: 6%;
  transform: translateY(-50%);
  top:50%;
  width: 0; 
}

.profile-wrapper {
  background-color: #fff;
  display: none;
  height: 70px;
  margin-top: 5px;
  padding: 10px;
  position: relative;
}

.profile-wrapper:before {
  border-bottom: 5px solid #fff;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  content: ""; 
  height: 0; 
  position: absolute;
  right: 6%;
  top:-5px;
  width: 0; 
}

.profile-wrapper .profile-logos {
  align-items: center;
  display: flex;
  float: left;
  justify-content: center;
  padding: 5px;
  position: relative;
  vertical-align: middle;
}

.profile-wrapper .profile-logos .profile-circle {
  background-color: #d35400;
  border-radius: 50px;
  height: 50px;
  width: 50px;
}

.main-navbar .profile-wrapper .profile-logos p {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  position: absolute;
}

.profile-wrapper .profile-details{
  float: right;
  padding: 5px;
  position: relative;
}

.main-navbar .profile-details p:nth-child(1) {
  color: #34495e;
  font-size: 12px;
}

.main-navbar .profile-details p:nth-child(2) {
  color: #2980b9;
  font-size: 12px;
}


/*----------------------
// progress page
----------------------*/

.progress-wrapper {
  height: 630px;
  position: relative;
  width: 100%;
}

.progress-title {
  padding-top: 90px;
  text-align: center;
  width: 100%;
}

.progress-title h2 {
  color: #34495e;
}

.progress-timeline {
  height: 120px;
  left: 50%;
  padding: 10px 30px 10px 30px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.progress-bar-wrapper{
  height: 100px;
  position: relative;
  width: 100%;
}

.progress-bar-wrapper .icon {
  font-size: 40px;
}

.progress-b {
  height: 5px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.progress-b-1 {
  background-color: #2c3e50;
  float: left;
  height: 100%;
  width: 50%;
}

.progress-b-2 {
  background-color: #2c3e50;
  float: right;
  height: 100%;
  width: 50%;
}

.progress-packing, 
.progress-transit,
.progress-deliver {
  align-items: center;
  background-color: #fff;
  border: 2px solid #2c3e50;
  border-radius: 100px;
  display: flex;
  height: 100px;
  justify-content: center;
  position: absolute;
  width: 100px;
}

.progress-packing {
  left: 0;
}

.progress-transit {
  left: 50%;
  transform: translateX(-50%);
}

.progress-deliver {
  right: 0;
}

#first-anim { 
  animation-delay:1s;
  -moz-animation-delay:1s; 
  -webkit-animation-delay:1s;
}

#second-anim { 
  animation-delay:2s; 
  -moz-animation-delay:2s; 
  -webkit-animation-delay:2s; 
}

#third-anim { 
  animation-delay:3s; 
  -moz-animation-delay:3s; 
  -webkit-animation-delay:3s; 
}

#fourth-anim { 
  animation-delay:4s; 
  -moz-animation-delay:4s; 
  -webkit-animation-delay:4s; 
}

#fifth-anim { 
  animation-delay:5s; 
  -moz-animation-delay:5s; 
  -webkit-animation-delay:5s; 
}

.progress-active {
  animation: startprocess 1s linear forwards 1;
  -moz-animation:loading 1s linear forwards 1;
  -webkit-animation: startprocess 1s linear forwards 1;
}

@keyframes startprocess {
  0% {
  }
  100% {
    background-color: #f39c12;
    border:none;
    color: #fff;
  }
}

@-webkit-keyframes startprocess {
  0% {
  }
  100% {
    background-color: #f39c12;
    border:none;
    color: #fff;
  }
}

@-moz-keyframes startprocess {
  0% {
  }
  100% {
    background-color: #f39c12;
    border:none;
    color: #fff;
  }
}


/*--------------------
// button page
--------------------*/

.switch-wrapper {
  height: 630px;
  padding: 40px;
  position: relative;
  width: 100%;
}

.switch-title {
  text-align: center;
  padding-top: 90px;
  width: 100%;
}

.switch-title h2 {
  color: #34495e;
}

.toggle {
  display: block;
  margin-top: 40px;
  text-align: center;
  user-select: none;
}

.toggle--checkbox {
  display: none;
}

.toggle--btn {
  display: block;
  font-size: 1.4em;
  margin: 0 auto;
  transition: all 350ms ease-in;
}

.toggle--btn:hover {
  cursor: pointer;
}

.toggle--btn, .toggle--btn:before, .toggle--btn:after,
.toggle--checkbox,
.toggle--checkbox:before,
.toggle--checkbox:after,
.toggle--feature,
.toggle--feature:before,
.toggle--feature:after {
  transition: all 250ms ease-in;
}
.toggle--btn:before, .toggle--btn:after,
.toggle--checkbox:before,
.toggle--checkbox:after,
.toggle--feature:before,
.toggle--feature:after {
  content: '';
  display: block;
}

.toggle--switch .toggle--btn {
  background: #1abc9c;
  background-position: -70px 0;
  background-size: 200% 100%;
  color: #fff;
  font-size: 16px;
  height: 30px;
  position: relative;
  text-transform: uppercase;
  width: 80px;
}

.toggle--switch .toggle--btn, .toggle--switch .toggle--btn:before {
  border-radius: 4px;
}

.toggle--switch .toggle--btn:before {
  background-image: linear-gradient(90deg, transparent 50%, rgba(255, 255, 255, 0.15) 100%);
  background-color: #2c3e50;
  background-size: 5px 5px;
  border: 4px solid #1abc9c;
  display: block;
  left: 0;
  height: 30px;
  position: absolute;
  text-indent: -100%;
  top: 50%;
  transform: translateY(-50%);
  width: 32px;
}

.toggle--switch .toggle--feature {
  display: block;
  height: 30px;
  overflow: hidden;
  position: relative;
  text-shadow: 0 1px 2px #666;
}

.toggle--switch .toggle--feature:before, .toggle--switch .toggle--feature:after {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.toggle--switch .toggle--feature:before {
  content: attr(data-label-on);
  left: -60%;
}

.toggle--switch .toggle--feature:after {
  content: attr(data-label-off);
  right: 16%;
}

.toggle--switch .toggle--checkbox:checked + .toggle--btn {
  background-position: 0 0;
}

.toggle--switch .toggle--checkbox:checked + .toggle--btn:before {
  left: calc(100% - 30px);
}

.toggle--switch .toggle--checkbox:checked + .toggle--btn .toggle--feature:before {
  left: 20%;
}

.toggle--switch .toggle--checkbox:checked + .toggle--btn .toggle--feature:after {
  right: -60%;
}

.button-title {
  text-align: center;
  padding-top: 20px;
  width: 100%;
}

.button-title h2 {
  color: #34495e;
}

.button-panel {
  height: 300px;
  position: relative;
  width: 100%;
}

.button-bar {
  height: 100px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

.button-bar-1,
.button-bar-2,
.button-bar-3,
.button-bar-4 {
  float: left;
  height: 2px;
  width: 25%;
}

.button-bar-1 {
  background-color: #f39c12;
}

.button-bar-2 {
  background-color: #9FF7FF;
}

.button-bar-3 {
  background-color: #33CCD9;
}

.button-bar-4 {
  background-image: -webkit-linear-gradient(right, rgba(44,62,44,1) 0%, rgba(44,62,44,1) 50%, rgba(44,62,44,0) 51%,rgba(44,62,44,0) 100%),
        -webkit-linear-gradient(bottom, rgba(44,62,44,1) 0%, rgba(44,62,44,0) 8%, rgba(44,62,44,0) 100%);
  background-size: 5px 12px;
}

.button-wrapper {
  height: 100px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.button-wrapper p {
  margin-top: 40px;
  margin-left: -15px;
}

.b-w-5 p {
  margin-right: -15px;
}

.b-w-1 {
  left: 0;
}

.first-button {
  background-color: #f39c12;
  border-radius: 30px;
  height: 30px;
  margin-top: -15px;
  width: 30px;
}

.b-w-2 {
  left: 25%;
  margin-left: -30px;
}

.second-button {
  background-color: #9FF7FF;
  border-radius: 30px;
  height: 30px;
  margin-top: -15px;
  width: 30px;
}

.b-w-3 {
  left: 50%;
  margin-left: -30px;
}

.third-button {
  background-color: #33CCD9;
  border-radius: 30px;
  height: 30px;
  margin-top: -15px;
  width: 30px;
}

.b-w-4 {
  left: 75%;
  margin-left: -30px;
}

.fourth-button {
  background-color: #2980b9;
  border-radius: 30px;
  height: 30px;
  margin-top: -15px;
  width: 30px;
}

.b-w-5 {
  left: 100%;
  margin-left: -30px;
}

.fifth-button {
  background-color: #ecf0f1;
  border: 1px dotted #000;
  border-radius: 30px;
  height: 30px;
  margin-top: -15px;
  width: 30px;
}

.first-button:hover ,
.second-button:hover,
.third-button:hover ,
.fourth-button:hover {
  transform: scale(1.5,1.5);
}

.fifth-button:hover {
  background-color: #2c3e50;
  border: 5px solid #ecf0f1;
  box-shadow: 0 0 2px #2c3e50;
  transform: scale(1.5,1.5);
}

.first-button:hover + p{
  color: #f39c12;
}

.second-button:hover + p{
  color: #9FF7FF;
}

.third-button:hover + p{
  color: #33CCD9;
}

.fourth-button:hover + p{
  color: #2980b9;
}

.fifth-button:hover + p{
  color: #2c3e50;

}


/*-----------------------
// checklist page
------------------------*/

.checklist-wrapper {
  height: 630px;
  position: relative;
  width: 100%;
}

.checklist-title {
  padding-top: 70px;
  text-align: center;
  width: 100%;
}

.checklist-title h2 {
  color: #34495e;
}

.checklist-panel {
  border-radius: 20px;
  left: 50%;
  padding: 20px 12px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  background-color: #fff;
}

.checklist-single-wrapper {
  height: 60px;
  padding: 2px 12px;
  position: static;
  width: 100%;
}
.checklist-single {
  border-bottom: 1px solid #f0f0f0;
  height: 100%;
}

.checklist-single .checklist-p,
.user-share,
.user-download,
.user-message {
  float: left;
  height: 100%; 
  position: relative;
}

.checklist-single .checklist-p {
  width: 70%;
}

i.list-icon {
  color: #2c3e50;
  font-size: 24px;
  padding: 0px 5px;
  position: absolute;
  top: 30%;
}

.user-share .list-icon,
.user-download .list-icon,
.user-message .list-icon {
  left: 50%;
  top:50%;
  transform: translate(-50%, -50%);
}


.user-share,
.user-download,
.user-message {
  outline: 2px solid #fff;
  width: 10%;
}

.checklist-single .checklist-p p {
  float: left;
  font-size: 14px;
  height: 50px;
  line-height: 50px;
  padding: 0px 10px;
  width: 270px;
}

.checklist-single .checklist-p p i {
  float: right;
  width: 10%;
}

.active-checklist {
  color: #f39c12;
}

.active-checklist .list-icon{
  color: #f39c12;
}


/*--------------------------------------------*/
/*/                Responsive                 /*/
/*---------------------------------------------*/

@media only screen and (max-width: 1200px){

}


@media only screen and (max-width: 992px){

}


@media only screen and (max-width: 768px){

}

@media only screen and (max-width: 480px){

}
