/*------------------------main page------------------------------*/

/*Global css*/
* {
  font-family: 'Open Sans', sans-serif;
}

p {
  margin: 0;
}

a{
  color: #000;
}

a:hover {
  text-decoration: none;
}

.row {
  margin-left: initial;
  margin-right: initial;
}

.col {
  padding: 0;
  margin: 0;
}


/*----------navbar header-----------*/
.nav-header {
  height: 63px;
  width: 100%;
}

.nav-header .logo {
  background-color: #34495e;
  float: left;
  width: 100px;
}

.nav-header .main-navbar {
  background-color: #1abc9c;
  width: 100%;
  height: inherit;
}

.nav-header .main-navbar .user-panel {
  float: right;
  height: inherit;
  padding: 20px;
}

.nav-header .main-navbar .user-panel p {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
}

.menu-container {
  background-color: #2c3e50;
  height: 70px;
  width: 100%;
}

.menu {
  height: inherit;
  position: relative;
  width: 100px;
}

.menu-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.menu-title p {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}

.menu-list-panel {
  background-color: #2c3e50;
  min-height: 630px;
  text-align: center; 
  width: 100px;
}

.menu-list-panel ul {
  width: 100%;
}

.menu-list-panel li {
  font-size: 30px;
  padding-top: 40px;
  position: relative;
  width: 100%;
}

.menu-list-panel li a {
  color: #fff;
  margin: 0;
  padding: 0;
}

.nav-tabs {
  border:0;
}
.nav-tabs>li>a,
.nav-tabs>li>a:focus,
.nav-tabs>li>a:hover {
  background-color: #2c3e50;
  border:0;
  color: #fff;
}
.nav-tabs>li.active>a, 
.nav-tabs>li.active>a:focus, 
.nav-tabs>li.active>a:hover {
  background-color: #2c3e50;
  border:0;
  color: #fff;
}

.nav-tabs>li.active a {
  position: relative;
}

.nav-tabs>li.active a:after {
  position: absolute;
  right: -10px;
  content: "\25CF";
}

.menu-list-panel li:nth-child(1){
  color: #fff;
  font-size: 30px;
  padding-top: 20px;
  position: relative;
}

.progress-wrapper {
  height: 630px;
  position: relative;
  width: 100%;
}

.progress-title {
  text-align: center;
  padding-top: 90px;
  width: 100%;
}

.progress-title h2 {
  color: #34495e;
}

.progress-timeline {
  width: 100%;
  height: 120px;
  left: 50%;
  padding: 10px 30px 10px 30px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
}

.progress-bar-wrapper{
  position: relative;
  height: 100px;
  width: 100%;
}

.progress-bar-wrapper .icon {
  font-size: 40px;
}

.progress-b {
  width: 100%;
  height: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.progress-b-1 {
  float: left;
  width: 50%;
  height: 100%;
  background-color: #2c3e50;
}

.progress-b-2 {
  float: right;
  width: 50%;
  height: 100%;
  background-color: #2c3e50;
}

.progress-packing, 
.progress-transit,
.progress-deliver {
  align-items: center;
  background-color: #fff;
  border: 2px solid #2c3e50;
  border-radius: 100px;
  display: flex;
  height: 100px;
  justify-content: center;
  position: absolute;
  width: 100px;
}

.progress-packing {
  left: 0;
}

.progress-transit {
  left: 50%;
  transform: translateX(-50%);
}

.progress-deliver {
  right: 0;
}

#first-anim { 
  animation-delay:1s;
  -moz-animation-delay:1s; 
  -webkit-animation-delay:1s;
}

#second-anim { 
  animation-delay:2s; 
  -moz-animation-delay:2s; 
  -webkit-animation-delay:2s; 
}

#third-anim { 
  animation-delay:3s; 
  -moz-animation-delay:3s; 
  -webkit-animation-delay:3s; 
}

#fourth-anim { 
  animation-delay:4s; 
  -moz-animation-delay:4s; 
  -webkit-animation-delay:4s; 
}

#fifth-anim { 
  animation-delay:5s; 
  -moz-animation-delay:5s; 
  -webkit-animation-delay:5s; 
}

.progress-active {
  animation: startprocess 1s linear forwards 1;
  -moz-animation:loading 1s linear forwards 1;
  -webkit-animation: startprocess 1s linear forwards 1;
}

@keyframes startprocess {
  0% {
  }
  100% {
    background-color: #f39c12;
    border:none;
    color: #fff;
  }
}

@-webkit-keyframes startprocess {
  0% {
  }
  100% {
    background-color: #f39c12;
    border:none;
    color: #fff;
  }
}

@-moz-keyframes startprocess {
  0% {
  }
  100% {
    background-color: #f39c12;
    border:none;
    color: #fff;
  }
}